<!-- 

Name: Liam
Date: 1/30/24
File Name: styles.css 

-->

<!-- CSS Reset -->

<!-- Style rule for body and image -->

header  {
    margin: 0
    padding: 0
}

body  {
    margin: 0
    padding: 0
}

nav  {
    margin: 0
    padding: 0
}

main  {
    margin: 0
    padding: 0
}

footer  {
    margin: 0
    padding: 0
}

img  {
    margin: 0
    padding: 0
}

h1  {
    margin: 0
    padding: 0
}

h3  {
    margin: 0
    padding: 0
}

<!-- Style rule for body and image -->

body  {
    background-color: #e3eaf8;
}

img  {
    width: 100%;
}

<!-- Style rule for header content -->

header  {
    text-align: center;
    font-size: 3 em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #101a2d;
}

<!-- Style rules for naviagtion area -->

nav  {
    color: #1d396d;
}

nav ul  {
    type: none
    margin: 0
    text-align: center
}

nav li  {
    display: inline block
    font-size: 1.5 em
    font-family: Verdana, Arial, sans-serif
    font-weight: bold
}

nav li  {
    display: block
    color: #e3eaf8;
    padding-top: 0.5 em
    padding-bottom: 0.5 em
    padding-right: 2 em
    padding-left: 2 em
    text decoration: none
}

<!-- Style rules for main content -->

main  {
    padding: 2%
    font-family: Geneva, Arial, sans-serif
    overflow: auto
}

main p  {
    font-size: 1.25 em

}

main h3  {
    top-padding: 2%
    font-size: 2 em
}

id selector image  {
    width: 45%
    float: left
    padding: 1%
}

id selector group  {
    width: 45%
    float: right
}

class selector external  {
    color: #1d396d
    text decoration: none
    font-weight: bold
    font-style: italic
}

<!-- Style rules for footer content -->

footer selector  {
    text-align: center
    font-size: 0.85em
    background-color: #1d396d
    color: #e3eaf8
    top-padding: 1%
    bottom-padding: 1%
    left-padding: 0%
    right-padding: 0%
}

footer a  {
    color: #e3eaf8
    text decoration: none
}

