/*

    Liam
    4/1/2024
    styles.css 

*/

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)),url(../images/baby-hawk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.welcome {
    position: absolute;
    top: 40%;
}

.display-1 {
    font-size: 4em;
}

.bg-brown {
    background-color: #2a1f14;
}

/* CSS Reset */

body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */

body  {
    background-color: #e3eaf8;
}

img  {
    max-width: 100%;
}

video {
    max-width: 100%;
}

/* Style rules for skip navigation link */

.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #fff;
    background-color: #2a1f14;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */

.mobile {
    display: block;
}

.mobile-tablet {
    display:none;
}

.tab-desk {
    display: none;
}

h1 {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3  {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Style rules for header area */

h1 {
    padding: 2%;
    text-align: center;
}

h3 {
    padding: 2%;
    text-align: center;
}

/* Style rules for navigation area */

nav  {
    background-color: #2a1f14; 
}

nav ul  {
    list-style-type: none;
    text-align: center;
}

nav li  {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: solid 0.5px #f6eee4;
}

nav li a  {
    display: block;
    color: #f6eee4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    text-decoration: none;
}

/* Style rules for main content */

main  {
    padding: 2%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

main p  {
    font-size: 1.25em;
}

main h3  {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px 10px #c5a687;
}

figure {
    border: 4px solid #2a1f14 ;
    box-shadow: 6px 6px 10px #c5a687;
    max-width: 400px;
    margin: 2% auto;
}

figcaption {
    padding: 2%;
    border-top: 4px solid #2a1f14;
}

#info ul {
    margin-left: 10%;
}

#contact {
    text-align: center;
}

#form h2 {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.anchor {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

/* Style rules for form elements */

.fieldset {
    margin-bottom: 2%;
}

.input {
    margin-bottom: 2%;
}

.textarea {
    margin-bottom: 2%;
}

.legend {
    font-weight: bold;
    font-size: 1.25em;
}

.label {
    display: block;
    padding-top: 2%;
}

#submit {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2%;
    background-color: #78593a;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}

/* Style rules for footer content */

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #1d396d;
    color: #e3eaf8;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}

footer a  {
    color: #e3eaf8;
    text-decoration: none;
}

img {
    display: inline-block;
    padding: 4%;
}

/* Media Query for Tablet Viewport */

@media screen and (min-width: 620px), print

/* Tablet Viewport: Show tab-desk class, hide mobile class */

.tab-desk {
    display: block;
}

.mobile {
    display: none;
}

/* Tablet Viewport: Style rules for nav area */

.nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
}

.nav li a {
    padding: 0.5em;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

aside {
    grid-column: 1 / span 2;
}

/* Tablet Viewport: Style rule for form element */

.form {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Tablet Viewport: Style rules for footer area */

footer {
    overflow: auto;
}

.copyright {
    float: left;
    width: 65%;
}

.social {
    float: right;
    width: 25%;
}

/* Media Query for Desktop Viewport: Show desktop class, hide mobile-tablet class */

@media screen {
    (min-width: 1000px), print
}

/* Desktop Viewport: Style rules for nav area */

nav li {
    font-size: 1.5em;
}

nav li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #2a1f14;
    background-color: #f6eee4;
    opacity: 0.5;
}

/* Desktop Viewport: Style rules for main content */

#info ul {
    margin-left: 5%;
}

.grid {
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.aside {
    grid-column: 1 / span 3;
    font-size: 2em;
}

/* Style rules for table */

table {
    border: 1px solid #2a1f14;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th {
    border: 1px solid #2a1f14;
    padding: 1%;
    background-color: #2a1f14;
    color: #fff;
    font-size: 1.15em;
}

td {
    border: 1px solid #2a1f14;
    padding: 1%;
}

tr {
    background-color: #deccba;
}

/* Desktop Viewport: Style rules for form elements */

.form {
    width: auto;
}

.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.btn {
    grid-column: 1 / span 2;
}

/* Media Query for Large Desktop Viewports */

@media screen and (min-width: 1921px)

body {
    background: linear-gradient: {#f6eee4, #78593a}
}

#wrapper {
    width: 1920px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background-color: #f6eee4;
}

.grid {
    grid-template-columns: auto auto auto auto;
    grid-column: 1 / span 4;
    font-size: 3em;
}

/* Media Query for Print */

@media print 

body {
    background-color: #fff;
    color: #000;
}