/*

    Liam
    2/29/24
    styles.css 

*/

/* CSS Reset */

body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */

body  {
    background-color: #e3eaf8;
}

img  {
    max-width: 100%
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */

.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

h1 {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3  {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Style rules for header area */

h1 {
    padding: 2%;
    text-align: center;
}

h3 {
    padding: 2%;
    text-align: center;
}

/* Style rules for navigation area */

nav  {
    background-color: #2a1f14; 
}

nav ul  {
    list-style-type: none
    text-align: center
}

nav li  {
    display: block
    font-size: 1.5em
    font-family: Geneva, Arial, sans-serif
    font-weight: bold
    top-border: solid 0.5px #f6eee4;
}

nav li a  {
    display: block
    font-color: #f6eee4;
    padding-top: 0.5em
    padding-bottom: 0.5em
    padding-right: 2em
    padding-left: 2em
    text-decoration: none
}

/* Style rules for main content */

main  {
    padding: 2%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

main p  {
    font-size: 1.25em
}

main h3  {
    top-padding: 2%
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px
}

#info ul {
    left-margin: 10%;
}

#contact {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%
    top-margin: 0;
    bottom-margin: 0;
    right-margin: auto
    left-margin: auto
}

.anchor {
    color: #f6eee4
    text-decoration: none;
    font-weight: bold;
}

/* Style rules for footer content */

footer {
    text-align: center
    font-size: 0.85em
    background-color: #1d396d
    color: #e3eaf8
    top-padding: 1%
    bottom-padding: 1%
    left-padding: 0%
    right-padding: 0%
}

footer a  {
    color: #e3eaf8
    text decoration: none
}